body{
    background-color: black;
    color: white;
}
h1{
    color: red;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 1000;
}
#title{
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.C{
    font-weight: 800px;
}
.button {
    text-decoration: none;
    background-color: rgb(213, 7, 7);
    color: white;
    padding: 10px;
    }
.box{
    border: 1px solid #ccc;
    padding: 5px 50px 5px 50px; 
    text-align: left;
    display: block;
    margin: 0 auto;
    width: 50%;
   }

#bot {
    float: right;
    margin-top: 5%;
}
.A{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: white;
}
.B{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: red;
}
footer{
    background-color: rgb(241, 229, 229);
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    left: 0;
    border-top: 2px solid white;
    
    
    
     }
